.App{
  text-align: center;
}
body{
  background: #eee;
  font-family: sans-serif;
}
.row{
  display: flex;
  width: 80%;
  margin: 0 auto;
  background: #fff;
}

.NewConfirmed,.TotalConfirmed,.NewDeaths,.TotalDeaths,.TotalRecovered{
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 5px solid sandybrown;
}
.NewConfirmed{
  color: orangered;
}
.TotalConfirmed{
  color: blueviolet;
}
.NewDeaths{
 color: greenyellow;
}
.TotalDeaths{
 color: orchid;
}
.TotalRecovered{
  color: maroon;
}

table{
  border-collapse:separate;
  width:80%;
  margin:0 auto;
  border-spacing: 0 12px;
}
table thead tr{
  background: #fff;
}

table thead tr th{
  padding: 18px 12px;
  text-align: left;
}
table tbody tr{
  background: #ffff;
}
table tbody tr td{
  padding: 18px 12px;
  text-align: left;
}